<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<br>
		<div class="row">
			<div class="col-4">
				<img class="rounded img-fluid" src="../../resources/img/link_home.png" alt="clipart description of a link">
			</div>
			<div class="col-8">
				<div class="jumbotron">
				  <h1 class="display-4">Welcome to Link Home!</h1>
				  <p class="lead">If you're looking to connect with your friends in a super easy way, you're at the right place!</p>
					<hr>
				  <p> Source for Image: <a href="http://clipart-library.com/connect-cliparts-free.html">Clipart Library</a> </p>
					<hr>					
				</div>
			</div>
		</div>
	</div>
  
<% include ../partials/footer %>