html, body{
    height: 100%; /* important to vertically align the container */
    margin: 0;
    padding: 0;
}

h1{
   color: darkgreen;
   text-align: center;
   font-size: 20px;
   /* font-family: verdana; */
}