<%- include ../partials/header %>
<%- include ../partials/menu %>
   <div class="container">
      <br><h1>Add Schedule</h1><br>
      <form action="addSchedule/add" method="post">
         <label for="myfile">Paste a file url:</label>
         <input type="url" id="myfile" name="myfile"><br><br>
         <button class="btn btn-primary" type="submit">Submit</button>
      </form>

      <p>Note, these images have to be hosted online. <a href="https://imgbb.com/">imgbb.com</a> is a website where you can upload your schedule.</p>
      <h3 style="color:red", style="font-weight:bold">Important!</h3>
      <h5>Make sure to crop your images so that any sensitive information is not included in the picture, such as a student id. </h5>
   </div>
<%- include ../partials/footer %>