<%- include ../partials/header %>
<%- include ../partials/menu %>
   <div class="container">
      <br><h1>Add Schedule</h1><br>
      <form action="">
         <label for="myfile">Select a file:</label>
         <input type="file" id="myfile" name="myfile"><br><br>
         <button class="btn btn-primary" type="submit">Submit</button>
      </form>
   </div>
<%- include ../partials/footer %>