<%- include ../partials/header %>
<%- include ../partials/menu %>
	<%
		function capitalizeNames(name){
			name = name[0].toUpperCase() + name.slice(1);
			return name;
		}
	%>
	<div class="container">
		<br>
		<br>
		<div class="table-responsive">
      	<table class="table">
         	<tr><th>Friends</th></tr>

				  <% if (data) {
				      	 var friend_rows = '';
					 data.forEach(function(item){
						friend_rows += '<tr><td><form class="form-signin" action="/mySchedule/friend" method="post"><button class="btn btn-lg btn-primary" name="friendID" id="' + item.userID + '" type="submit">' + capitalizeNames(item.first_name) + " " + capitalizeNames(item.last_name) + '</button></form></td>';
						friend_rows += '<td>' + '</td>';
						});%>
				  <%- friend_rows %>
				  <% } %>

		 </table>
      </div>
          <a href="/addFriends" class="btn btn-lg btn-primary">Add Friend</a>
	  <p class="mt-5 mb-3 text-muted">&copy; 2020</p>

<% include ../partials/footer %>