<%- include ../partials/header %>
<%- include ../partials/menu %>
   <div class="container text-center"><br>
      <h1>My Schedule</h1>
      <% if (result) {
         console.log(result);
             var mySchedule = '';
             mySchedule += '<img src="' + result[0].image_url + '"';
      %>
      <%- mySchedule %>
      <% } %>
      <img src=""
   </div>
<%- include ../partials/footer %>